@import "@utils/constants/Scss-variables";

.img-landing-girl{
    height: 70%;
}

.title-join{
    font-size: 5rem;
    span{
        color: $accent-text;
    }
}

.home{
    @include for-size(tablet-lg,down){
    margin-top: 50%!important;
    }
    h1{
        font-size: 3rem!important;
    }
}





