@import "@utils/constants/Scss-variables";

#footer{
    color: white!important;
    background-color: $form-background!important;
    a{
        text-decoration: none!important;
        color: white!important;
    }
}