@import "@utils/constants/Scss-variables";

.form-container{
    background-color: $form-background;
    padding: 10%;
    border-radius: 20px;
    input{
        background-color: $form-background;
        border-color: $border-input;
    }
    input:focus{
        background-color: $border-input-focus;
    }
    button{
        background-color: $button-background;
    }
    button:hover{
        background-color: $button-hover;
    }
}
#join {
    padding-bottom: 15%;
    background:
    radial-gradient(circle at 5% 60%, $circle-one, $circle-one 15%, transparent 15%),
        radial-gradient(circle at 30% 20%, $circle-two, $circle-two 12%, transparent 12%);
    background-repeat: no-repeat;

    color: white !important;
}